/* Style all input fields */
input {
  width: 300;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type='submit'] {
  background-color: #4caf50;
  color: white;
}

/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 20px;
}

.footer {
  width:100%;
}

#inner1 a{
  left: 0%; 
  width: 33.33%;  
  position: absolute;
}

#inner2 a{
  left: 33.33%; 
  width: 33.33%;  
  position: absolute;
}

#inner3 a{
  left: 66.66%; 
  width: 33.33%;  
  position: absolute;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  width:100%;
  position: relative;
  height: 45px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 18px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4caf50;
  color: white;
}

#footer {
  background-color: #4caf50;
  color: white;
  clear: both;
}

#infotable,
#datatable,
#tunetable {
  border-collapse: collapse; /* Убираем двойные границы между ячейками */
  background: #fff; /* Цвет фона таблицы */
  border: 2px solid #000; /* Рамка вокруг таблицы */
  text-align: left;
  font-size: 18px;
}

#tablo {
  border-collapse: collapse; /* Убираем двойные границы между ячейками */
  background: #fff; /* Цвет фона таблицы */
  border: 2px solid #000; /* Рамка вокруг таблицы */
  text-align: center;
  font-size: 18px;
}

#tablo td {
  width: 25%;
}

.evenrow {
  background-color: #ffffff;
}

.oddrow {
  background-color: #dddddd;
}

#tabs {
  overflow: hidden;
}

#flot-placeholder {
  float: left;
  width: 800px;
  height: 600px;
}

#textsize {
  height: 15px;
  width: 400px;
  vertical-align: middle;
  float: left;
  margin-left: 30px;
  margin-right: 30px;
}

#btn1,
#btn2 {
  height: 50px;
  width: 140px;
  padding: 10px;
  float: left;
  vertical-align: middle;
  margin:10px;
}

#btnplay,
#btnstop {
  width: 50px;
  height: 50px;
  padding: 10px;
  float: left;
}
​ .ui-slider .ui-slider-handle {
  height: 15px;
  width: 400px;
  vertical-align: middle;
  float: left;
  padding-left: 10px;
}

#period,
#interval {
  height: 15px;
  width: 400px;
  vertical-align: middle;
  float: left;
  margin-left: 30px;
  margin-right: 30px;
}

#period_number,
#interval_number {
  width: 10px;
  height: 15px;
  padding-left: 220px;
}

h2 {
  margin-top: -10px;
  margin-bottom: 3px;
}

.table thead th {
  padding: 2px;
  text-align: center;
  vertical-align: middle;
}

.table tbody th {
  padding: 2px;
  text-align: center;
  vertical-align: middle;
}
